wheel
numpy
scipy
pandas
# shapely
# gdal
# fiona
# pyproj
# six
# rtree
# geopandas
numba
matplotlib
scikit-learn
# contextily
# cudatoolkit==9.0
pytest
descartes
pint
pyqt5
openpyxl
xlrd
seaborn
hdmedians